@mixin gradient {
  background: $primary1;
  background: -moz-linear-gradient(left, $primary1 0%, $primary2 100%);
  background: -webkit-linear-gradient(left, $primary1 0%, $primary2 100%);
  background: linear-gradient(to right, $primary1 0%, $primary2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$primary1, endColorstr=$primary2, GradientType=1 );
}

@mixin gradient-vertical {
  background: $primary1;
  background: -moz-linear-gradient(top, $primary1 0%, $primary2 100%);
  background: -webkit-linear-gradient(top, $primary1 0%, $primary2 100%);
  background: linear-gradient(to bottom, $primary1 0%, $primary2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$primary1, endColorstr=$primary2, GradientType=0 );
}

@mixin smooth-translate {
  -moz-backface-visibility: hidden;
  -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -o-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  backface-visibility: hidden;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}
