// Fonts
$font-primary: 'Muli', sans-serif;

// Breakpoints
$breakpoint-xx-large: 1980px;
$breakpoint-x-large: 1600px;
$breakpoint-large: 1200px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;
$breakpoint-x-small: 480px;
