.heading-a {
  font-size: 62px;
}

.heading-b {
  font-size: 48px;
}

.heading-c {
  font-size: 36px;
  margin: 36px 0;

  &--bottom {
    margin: 0 0 36px;
  }
}

.heading-d {
  font-size: 20px;

  @media(min-width: $breakpoint-x-small) {
    font-size: 28px;
  }
}
