$box-shadow-colour: rgba(0, 0, 0, .2);

.btn {
  &--primary {
    @include smooth-translate;
    background-color: $primary1;
    border-radius: 4px;
    box-shadow: 0 4px 15px 0 $box-shadow-colour;
    color: $white;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .025em;
    padding: 10px 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .2s ease;

    &:hover {
      color: $white;
    }
  }

  &--inverted {
    background-color: $white;
    color: $primary1;

    &:hover {
      color: $primary1;
    }

    &:focus {
      color: $primary1 !important;
    }

    &:active {
      background-color: $light-grey !important;
      color: $primary1;
    }
  }

  &--inline {
    margin-right: 10px;
  }

  &:hover {
    -webkit-transform: translateY(-2px);
    box-shadow: 0 6px 25px 0 $box-shadow-colour;
    transform: translateY(-2px);
  }

  &:active {
    -webkit-transform: translateY(1px);
    background-color: $primary3;
    box-shadow: 0 4px 15px 0 $box-shadow-colour;
    transform: translateY(1px);
  }

  &:focus {
    color: $white;
  }

  &__icon {
    margin-left: 5px;
  }
}
