body {
  -webkit-font-smoothing: antialiased;
  font-family: $font-primary;
  font-size: 18px;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6, {
  margin: 0;
}

a {
  color: $primary1;

  &:hover,
  :focus {
    color: $primary2;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.divider {
  border-radius: 4px;
  display: block;
  height: 2px;
  margin: 56px 0;
  width: 60px;

  &--light {
    background-color: $primary1;
  }

  &--dark {
    background-color: $primary2;
  }

  &--hero {
    margin: 45px 0;
  }

  &--right {
    clear: right;
    float: right;
  }

  &--center {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1366px;
  }
}
