.hero {
    &__wrapper {
        &--cover {
            @include Gradient;
            width: 100%;
            margin-top: -90px;
            padding: 265px 0 0 0;     
        }
    }

    &__content {
        position: relative;
        float: none;
        z-index: 1;
    }

    &__divider {
        height: 2px;
        width: 60px;
        border-radius: 4px;
        background-color: $primary2;
        margin: 45px 0 45px;    
    }

    &__heading {
        font-weight: 700;
        color: $white;
    }

    &__tagline {
        padding-top: 3px;
        font-size: 22px;
        color: $white;
    }

    &__slope {
        transform: skew(0deg, -10deg);
        -ms-transform: skew(0deg, -10deg);
        -webkit-transform: skew(0deg, -10deg);
        z-index: 0;
        display: block;
        background-size: cover;

        &--first {
            @include Gradient;
            height: 350px;
            width: 100%;
            margin-top: -175px;
            position: relative;

            @media(min-width: $breakpoint-xx-large) {
                height: 460px;
                margin-top: -230px;
            }
        }

        &--second {
            left: 0;
            top: 0;
            background: $primary1;
            height: 245px;
            width: 30%;
            margin-top: -125px;
            position: absolute;
        }

        &--third {
            background: $primary1;
            width: 62.5%;
            margin-top: -225px;
            position: absolute;
            display: block;
            height: 280px;

            @media(min-width: $breakpoint-small) {
                height: 335px;
            }

            @media(min-width: $breakpoint-xx-large) {
                margin-top: -260px;
                height: 390px;
            }
        }

        &--forth {
            right: 0;
            top: 0;
            background: $primary2;
            height: 245px;
            width: 30%;
            margin-top: -100px;
            position: absolute;
        }
    }

    .btn {
        margin-top: 40px;
    }
}