.hero {
  &__wrapper {
    &--cover {
      @include gradient;
      margin-top: -90px;
      padding-top: 175px;
      width: 100%;

      @media(min-width: $breakpoint-x-small) {
        padding-top: 265px;
      }
    }
  }

  &__content {
    float: none;
    position: relative;
    z-index: 1;
  }

  &__divider {
    background-color: $primary2;
    border-radius: 4px;
    height: 2px;
    margin: 45px 0;
    width: 60px;
  }

  &__heading {
    color: $white;
    font-weight: 700;
  }

  &__tagline {
    color: $white;
    font-size: 22px;
    padding-top: 3px;
  }

  &__slope {
    -ms-transform: skew(0deg, -10deg);
    -webkit-transform: skew(0deg, -10deg);
    background-size: cover;
    display: block;
    transform: skew(0deg, -10deg);
    z-index: 0;

    &--first {
      @include gradient;
      height: 350px;
      margin-top: -270px;
      position: relative;
      width: 100%;

      @media(min-width: $breakpoint-x-small) {
        margin-top: -175px;
      }

      @media(min-width: $breakpoint-xx-large) {
        height: 460px;
        margin-top: -230px;
      }
    }

    &--second {
      background: $primary1;
      height: 245px;
      left: 0;
      margin-top: -125px;
      position: absolute;
      top: 0;
      width: 30%;
    }

    &--third {
      background: $primary1;
      display: block;
      height: 280px;
      margin-top: -225px;
      position: absolute;
      width: 62.5%;

      @media(min-width: $breakpoint-small) {
        height: 335px;
      }

      @media(min-width: $breakpoint-xx-large) {
        height: 390px;
        margin-top: -260px;
      }
    }

    &--forth {
      background: $primary2;
      height: 245px;
      margin-top: -100px;
      position: absolute;
      right: 0;
      top: 0;
      width: 30%;
    }
  }

  .btn {
    margin-top: 40px;
  }
}
