.navbar {
    border-radius: 0;
    padding: 17.5px 0;
    z-index: 100;
    margin-bottom: 0;

    &.navbar-default {
        background-color: transparent;
        border:0;

        .navbar-toggle {
            border:none;
            z-index: 9999;

            &:hover {
                background-color:transparent;

                .icon-bar {
                    background-color: $white;
                }
            }

            &:focus {
                background-color: transparent;
            }

            &__icon {
                display: block;
                color: $white;
                margin-top: -6px;

                &--close {
                    color: $primary2;
                }

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .navbar-nav {
        li {
            a {
                color: $white;
                background-color: transparent;
                font-size: 18px;

                &:hover,
                &:focus {
                    background-color: transparent;
                    color: $white;
                }
            }

            i {
                font-size: 24px;
                color: $white;
            }
        }
    }

    .navbar-collapse {
        border:none;
        box-shadow: none;

        @media (max-width: $breakpoint-small) {
            &--hide {
                display: none;
            }

            &--show {
                position: absolute;
                top: 11px;
                margin: 0;
                width: 180px;
                right: 11px;
                display: block;
                background: $white;
                border-radius: 4px;
                box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);

                .navbar-nav {
                    li {
                        &.active {
                            a {
                                color: $black;
                            }
                        }

                        a {
                            color: $black;
                        }

                        i {
                            color: $black;
                        }
                    }
                }            
            }
        }
    }

    .navbar-brand {
        text-align: center;
        font-weight: 700;
        color: $white;
        border: 2px solid #F6F5F3;
        padding: 12px 8px;
        height: auto;
        border-radius: 4px;
        margin: 0.5px 20px 0 15px !important;   
        font-size: 20px;

        &:hover {
            color: $white;
            opacity: 0.7;
        }
        
        @media(min-width: $breakpoint-small) {
            margin: 3.5px 20px 0 5px !important;
        }
    }
}