$brand-border-colour: #f6f5f3;
$box-shadow-colour: rgba(0, 0, 0, .2);

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  padding: 17.5px 0;
  z-index: 100;

  &.navbar-default {
    background-color: transparent;
    border: 0;
  }

  .navbar-right {
    @media (max-width: $breakpoint-small) {
      border-top: 1px solid $brand-border-colour;
      padding-top: 7px;

      .nav-item {
        display: inline-block;

        &__link {
          margin-top: 0 !important;
          padding: 10px 19px !important;
        }
      }
    }
  }

  .navbar-toggle {
    border: 0;
    padding: 7.5px 10px;
    touch-action: none;
    z-index: 9999;

    &:hover {
      background-color: transparent;
    }

    &:focus {
      background-color: transparent;
    }

    &__icon {
      color: $white;
      display: block;
      margin-top: -6px;

      &--close {
        color: $primary2;
        margin-right: 1px;
      }

      i {
        font-size: 24px;
      }
    }
  }

  .nav-item {
    &__link {
      background-color: transparent;
      font-size: 18px;

      &:hover,
      &:focus, {
        background-color: transparent;
        color: $white;
        opacity: .7;
      }

      &[class] {
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }

    i {
      color: $white;
      font-size: 24px;
    }
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;

    @media (max-width: $breakpoint-small) {
      &--hide {
        display: none;
      }
    }
  }

  .navbar-collapse--show {
    @media (max-width: $breakpoint-small) {
      background: $white;
      border-radius: 4px;
      box-shadow: 0 4px 15px 0 $box-shadow-colour;
      display: block;
      margin: 0;
      position: absolute;
      right: 11px;
      top: 11px;
      width: 180px;

      .nav-item {
        &__link {
          margin-top: -2px;
          padding-bottom: 15px;
          padding-top: 15px;

          &:hover,
          &:focus, {
            color: $black;
          }

          &[class] {
            color: $black;

            &:hover {
              color: $black;
            }
          }
        }

        i {
          color: $black;
        }
      }
    }
  }

  .navbar-brand {
    border: 2px solid $brand-border-colour;
    border-radius: 4px;
    color: $white;
    font-size: 20px;
    font-weight: 700;
    height: auto;
    margin: .5px 20px 0 15px !important;
    padding: 12px 8px;
    text-align: center;

    &:hover {
      color: $white;
      opacity: .7;
    }

    @media(min-width: $breakpoint-small) {
      margin: 3.5px 20px 0 5px !important;
    }
  }
}
